doctype html
html(ng-app)
    head
        meta(charset='utf-8')
        title Phonecat
        link(rel='stylesheet', href='/css/bootstrap/css/bootstrap.min.css')
        script(src='../node_modules/angular/angular.js')
    body
        div.col-lg-3
            p Nothing here {{'yet' + '!'}}